[desktop]
Categories=Settings;
Comment=OEM tool for whirlwind installer
Exec=deepin-installer-oem
Icon=deepin-installer-oem
Name=Whirlwind Installer OEM
StartupNotify=false
Terminal=false
Type=Application
